:root {
  --fontSize: 1rem;
  --mainColor: #123456;
  --highlightColor: hwb(190, 35%, 20%);
}
body {
  background-color: #fff;
  color: #00f;
  font-size: var(--fontSize);
  color: rgba(0,0,0,0.5);
  color: var(--mainColor);
  color: #f00;
}
h1 {
  font-variant-caps: small-caps;
  font-variant-numeric: lining-nums;
}
:local .localAbc {
  color: #00f;
}
:global .flex {
  display: flex;
}
.abc {
  background: url("./images/image.png") no-repeat;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #00f;
}
.avatar {
  size: 80px;
  border-radius: 50%;
}
